@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --blue: #0A3871;
    --shadow-blue: #0a2646;
    --gris: #495057;
    --light-grey: #D8DFE8;
    --shadow-light-grey: #969a9e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Lado izquierdo */

main {
    width: 100%;
    display: flex;
}

main .contenedor-izquierdo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

main .contenedor-izquierdo .contenedor-logo {
    margin-bottom: 5rem;
    margin-left: 48px;
}

main .contenedor-izquierdo .contenedor-logo.start {
    transform: translateX(-10rem);
}

main .contenedor-izquierdo textarea {
    display: block;
    width: 70%;
    height: 50vh;
    margin: auto;
    margin-bottom: 5rem;
    background-color: #E5E5E5;
    font-size: 2rem;
    color: var(--blue);
    border: none;
    resize: none;
    outline: none;
}

main .contenedor-izquierdo textarea::placeholder {
    font-family: 'Inter', sans-serif;
    color: var(--blue);
}

main .contenedor-izquierdo .contenedor-controles {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

main .contenedor-izquierdo .contenedor-controles p {
    margin-bottom: 8px;
    font-size: 12px;
    opacity: .8;
    color: var(--gris);
}

main .contenedor-izquierdo .contenedor-controles p .bi {
    opacity: 1;
    margin-right: 8px;
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn.start {
    transform: translateY(20rem);
}

.btn {
    width: 50%;
    height: 4.18rem;
    border-radius: 24px;
    font-size: 1rem;
    border: 1px solid var(--blue);
    cursor: pointer;
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn1 {
    background-color: var(--blue);
    color: #fff;
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn1:hover,
main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn2:hover,
.contenedor-derecho .cont-con_Datos .btn-copiar:hover {
    border: 3px solid rgb(148, 27, 218);
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn1.click {
    box-shadow: inset 2px 2px 40px 5px var(--shadow-blue);
    transform: scale(.9,.9);
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn2 {
    background-color: var(--light-grey);
}

main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn2.click {
    box-shadow: inset 2px 2px 40px 5px var(--shadow-light-grey);
    transform: scale(.9,.9);
}

main .contenedor-izquierdo .contenedor-controles .contenedor-texto p {
    margin-bottom: 0;
}

/* Lado derecho */

.contenedor-derecho {
    position: relative;
    width: 30%;
    height: calc(100vh - 120px);
    border-radius: 2rem;
    padding: 2rem;
    background: #fff;
    display: flex;
    align-items: center;
}

.contenedor-derecho.start {
    transform: translateX(50rem);
}

.contenedor-derecho .cont-sin_Datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contenedor-derecho .cont-sin_Datos.inactive {
    display: none;
}

.contenedor-derecho .cont-con_Datos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.contenedor-derecho .cont-con_Datos.inactive {
    display: none;
}

.contenedor-derecho .cont-con_Datos h2 {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: var(--gris);
}

.contenedor-derecho .cont-con_Datos .btn-copiar {
    width: 100%;
    background-color: #fff;
}

.contenedor-derecho .cont-con_Datos .btn-copiar.click {
    box-shadow: inset 2px 2px 40px 5px var(--shadow-light-grey);
    transform: scale(.9,.9);
}

.contenedor-derecho .contenedor-img {
    width: 100%;
    height: 19rem;
}

.contenedor-derecho .contenedor-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenedor-derecho h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.contenedor-derecho p {
    color: var(--gris);
}

.aviso {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 85px);
    text-align: center;
    font-size: 24px;
}

.aviso i{
    color: greenyellow;
    font-size: 32px;
}

.aviso.inactive {
    display: none;
}

/* footer */

footer {
    width: 70%;
}

footer .contenedor-texto {
    color: var(--gris);
    opacity: .8;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {

    /* lado izquierdo */

    main {
        flex-direction: column;
    }

    main .contenedor-izquierdo {
        width: 100%;
    }

    main .contenedor-izquierdo .contenedor-logo {
        margin-bottom: 5rem;
        margin-left: 0;
    }

    main .contenedor-izquierdo textarea {
        display: block;
        width: 100%;
        min-height: 40vh;
    }

    main .contenedor-izquierdo .contenedor-controles {
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
    }

    /* lado derecho */

    .contenedor-derecho {
        width: 100%;
        height: auto;
        /* min-height: 30vh; */
    }

    .contenedor-derecho .contenedor-img {
        width: 100%;
        height: 19rem;
        display: none;
    }
    
    .contenedor-derecho h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    .contenedor-derecho p {
        color: var(--gris);
    }

    /* footer */

    footer {
        width: 100%;
    }
}

@media (max-width: 375px) {

    body {
        padding: 1rem;
    }

    main .contenedor-izquierdo textarea {
        height: auto;
        min-height: 40vh;
        margin-bottom: 0;
    }
    
    main .contenedor-izquierdo .contenedor-controles .contenedor-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }

    main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn1 {
        background-color: var(--blue);
        color: #fff;
    }
    
    main .contenedor-izquierdo .contenedor-controles .contenedor-btn .btn2 {
        background-color: var(--light-grey);
        color: var(--blue);
    }

    .btn {
        width: 100%;
        height: 4.18rem;
        border-radius: 24px;
        font-size: 1rem;
        border: 1px solid var(--blue);
    }
}
